/**
 
 Layout Styles

 **/
html, body{ height:100% } 
body{ 
  background-color:#F5F5F5;
  color:#333;
  font-family: "Open Sans", "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}


:focus { outline: 0; }

.fa{
  float: right;
  margin: 4px;
}