$headerHeight:25px;
$headerBGColor:#BBB;
$headerFontColor:#666;

$footerHeight:25px;
$footerBGColor:#DDD;
$footerFontColor:#666;

$sidebarWidth: 200px;
$sidebarBGColor: lightgreen;

// Navigation
$navThemeBase: #BBB;
$navThemeBaseAlt: #4682B4;
$navThemeBaseFont: #666;
$navThemeBaseFontAlt: #4682B4;
$navThemeBaseSelectedFont: #FFF;
$navThemeAnchor:#4682B4;
$navThemeAnchorHover:#B85C14;



// http://astronautweb.co/snippet/font-awesome/
$topLevelExpandIcon: "\f106";
$topLevelContractIcon: "\f107";

$subLevelExpandIcon: "\f106";
$subLevelContractIcon: "\f107";



$linkColor: #CC701B;
$linkColorHover: lighten($linkColor, 20%);

