$headerHeight:30px;
$headerBGColor:#BBB;
$headerFontColor:#666;

$footerHeight:25px;
$footerBGColor:#DDD;
$footerFontColor:#666;

$sidebarWidth: 250px;
$sidebarBGColor: #669EBB;

// Navigation
$navThemeBase: #F5F5F5;
$navThemeBaseAlt: #4682B4;
$navThemeBaseFont: #666;
$navThemeBaseFontAlt: #4682B4;
$navThemeBaseSelectedFont: #FFF;
$navThemeAnchor:#4682B4;
$navThemeAnchorHover:#B85C14;
$navItemSeparatorFontColor:#999;
$navItemSeparatorBG:#EEE;


// http://astronautweb.co/snippet/font-awesome/
$topLevelExpandIcon: "\f107";
$topLevelContractIcon: "\f106";

$subLevelExpandIcon: "\f107";
$subLevelContractIcon: "\f106";



$linkColor: #CC701B;
$linkColorHover: lighten($linkColor, 20%);

